<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ndcubed.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOST1pHdERG3nZPXd0TGmrc1Ij6DdD64E"/>

        <activity android:name=".SimplyWeather"
            android:label="@string/app_name"
            android:theme="@style/DayTheme"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".WeatherWidgetConfigure"
            android:label="@string/app_name"
            android:theme="@style/DayTheme"
            android:icon="@drawable/widget_preview"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>


        <receiver android:name=".WeatherWidgetProvider" android:label="Simply Weather Widget">
            <intent-filter>
                <action android:name="com.ndcubed.weather.WEATHER_UPDATED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/large_weather_widget_provider" />
        </receiver>
    </application>

</manifest>
